# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [1]:
## 1

my_set = set(range(1,11))
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
## 2
my_set.add(11)
print(my_set)
my_set.remove(1)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
## 3

set1 = set(range(1,11))
set2 = set(range(2,11,2))
print(set1,set2)

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} {2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}

In [9]:
## 4

my_set = {i ** 2 for i in range(1,11)}
print(my_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [10]:
## 5

new_set = {i for i in my_set if i%2 == 0}
print(new_set)

{64, 100, 4, 36, 16}

In [ ]:
## 6
s= {1,1,1,2,2,2,4,5}
print(s)

{1, 2, 4, 5}

In [12]:
## 7

set1 = {1,2,3,4,5}
set2 = {1,2,3}

print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

In [13]:
frozenset_set = frozenset(range(1,6))
print(frozenset_set)

frozenset({1, 2, 3, 4, 5})

In [14]:
my_set = set(range(1,6))
my_lst = list(my_set)
my_lst.append(6)
my_set = set(my_lst)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [16]:
## 10

my_dict = {
    frozenset({1,2}): "Primero",
    frozenset({2,2}): "Segundo"
}

print(my_dict)

{frozenset({1, 2}): 'Primero', frozenset({2}): 'Segundo'}

In [17]:
my_set= {1,2,3,4,5}

for i in my_set:
    print(i)

1
2
3
4
5

In [20]:
my_set = {1,2,3,4,5}

while my_set:
    my_set.pop()
    print(my_set)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [21]:
set1 = {1,2,3,4,5,68,9,10,11}
set2 = {2,3,5,6,8,7,11,5}

set1.symmetric_difference_update(set2)
print(set1)

{1, 4, 68, 6, 7, 9, 10, 8}

In [ ]:
## 14

print(f"The number 1 is in set1 ?: {1 in set1}")
print(f"The number 12 is in set1 ?: {12 in set1}")

The number 1 is in set1 ?: True
The number 1 is in set1 ?: False

In [24]:
set1 = {(1,2),(3,4)}
print(set1)

{(1, 2), (3, 4)}