# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [3]:
## 1

tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
## 2
print(tpl[0])
print(tpl[len(tpl)// 2])
print(tpl[-1])

1
6
10

In [10]:
## 3

print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [ ]:
# 4
tpl_matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tpl_matrix)
print(tpl_matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [14]:
# 5

tpl1 = (1,2,3)
tpl2 = (4,5,6)

concateneted = tpl1 + tpl2
print(concateneted)

(1, 2, 3, 4, 5, 6)

In [ ]:
# 6
tpl_occurrences = (1,2,3,4,4,5,6,7,7)

occurrences = tpl_occurrences.count(4)

print(occurrences)

index = tpl_occurrences.index(4)

print(index)

2
3

In [19]:
# 7
tpl = (1,2,3,4,5)
x,y,z,y1,y2 = tpl

print(x,y,z,y1,y2)

1 2 3 4 5

In [21]:
#8 

tpl = tuple([1,2,3,4,5])
print(tpl)

(1, 2, 3, 4, 5)

In [24]:
# 9

tpl_matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(tpl_matrix)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [26]:
## 10
tpl = tuple(range(1,6))
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [34]:
## 11
s = "Hello"
tpl = tuple(s)
print(tpl)
s = ''.join(s)
print(s)

('H', 'e', 'l', 'l', 'o')
Hello

In [38]:
## 12
tpl_k = [("name","Brayan"),("age",12)]
dic = {}
for tp in tpl_k:
    dic[tp[0]] = tp[1]
print(type(dic))
print(dic)

d = {
    (1,2): 3,
    (4,5): 6,
    (7,8): 9
}
print(d)

<class 'dict'>
{'name': 'Brayan', 'age': 12}
{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [ ]:
## 13
nested_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(nested_tuple)

for tpl in nested_tuple:
    for i in tpl:
        print(i)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
1
2
3
4
5
6
7
8
9

In [43]:
## 14

duplicated_tpl = (1,1,2,2,4,5,8,9,9,1,7)
set_tpl = set(duplicated_tpl)
print(set_tpl)

{1, 2, 4, 5, 7, 8, 9}

In [44]:
## 15

tpl = (1,4,8,9,5,1,2)
tpl1 = (max(tpl),min(tpl),sum(tpl))
print(tpl1)

(9, 1, 30)