## Tuples

Video Outline:

1. Introduction to Tuples.
2. Creating tuples.
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of tuples.
6. Tuple methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical examples and Common errors

#### Introduction to tuples 

Explanation:

Tuples are orderd collections of items that are immutable. They are similar to lists, but their immutabilitity makes them different.

In [1]:
## creating a tuple 

empty_tuple = ()

print(empty_tuple)

print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))

tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6,7))

[1, 2, 3, 4, 5, 6, 7]

In [5]:
mixed_tuple = (1,"Hello world",3.14, True)

print(mixed_tuple)

(1, 'Hello world', 3.14, True)

In [8]:
## Accessing tuple elements
numbers
print(numbers[0])
print(numbers[-1])

1
6

In [10]:
print(numbers[0:4])
print(numbers[::-1])

(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [12]:
##Tuple Operations

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello world', 3.14, True)

In [13]:
mixed_tuple * 3

(1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True)

In [14]:
numbers * 2

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [16]:
## Immutable Nature of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned

lst = [1,2,3,4,5]

print(lst)

lst[1] = "Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [19]:
numbers[0] = "Krish"

TypeError: 'tuple' object does not support item assignment

In [23]:
## Tuples methods

print(numbers.count(1))
print(len(numbers))
print(numbers.index(1))

1
6
0

In [24]:
##packing and unpacking tuple
#packing
packed_tuple=1,2,"Krish"
print(packed_tuple)

(1, 2, 'Krish')

In [25]:
a,b = packed_tuple

ValueError: too many values to unpack (expected 2)

In [27]:
a,b,c = packed_tuple
print(a,b,c)

1 2 Krish

In [28]:
## Unpacking with *

numbers = (1,2,3,4,5,6)

first,*middle,last = numbers

print(first,middle,last)

1 [2, 3, 4, 5] 6

In [31]:
## Nested tuple 
## Nested list
lst = [[1,2,3,4],[4,5,6,7],[8,"dfh",2.6,"d"]]
print(lst[0][0:2])

[1, 2]

In [32]:
lst = [[1,2,3,4],[4,5,6,7],(8,"dfh",2.6,"d")]

lst[2][0:3]

(8, 'dfh', 2.6)

In [33]:
## Nested tuple 
nested_tuple = ((1,2,3),("a","b","c"),(True,False))

##access the elements inside tuple 

print(nested_tuple[0])

(1, 2, 3)

In [34]:
print(nested_tuple[1][2])

c

In [36]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

#### Conclusion 

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of yout Python code.