### SQL And SqlLite

SQL (Structured Query Language) is a standard language for managing and manipualting relational databases. SQLite is a slef-contained,serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson. We will cover the basics of SQL ans SQLite, including create databases, tables, and performing various SQL operations.

In [2]:
### Connect to an SQLite database
import sqlite3 as sq

connection = sq.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [8]:
### Create a table

cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees(
                id Integer Primary Key,
                name Text Not Null,
                age Integer,
               department text
               );
''')

### Commit the changes

connection.commit()

In [9]:
cursor.execute('''
    SELECT * FROM employees
''')

In [11]:
## Insert data 

cursor.execute("INSERT INTO employees values(null,'Brayan',24,'Web Developer');")
cursor.execute("INSERT INTO employees values(null,'Bob',32,'Engineering');")
cursor.execute("INSERT INTO employees values(null,'Krish',22,'Finance');")

connection.commit()

In [4]:
## QUERY THE DATA

cursor.execute("SELECT * FROM employees;")

employees = cursor.fetchall()

employees

[(1, 'Brayan', 24, 'Web Developer'),
 (2, 'Bob', 32, 'Engineering'),
 (3, 'Krish', 22, 'Finance')]

In [5]:
for employe in employees:
    print(employe)

(1, 'Brayan', 24, 'Web Developer')
(2, 'Bob', 32, 'Engineering')
(3, 'Krish', 22, 'Finance')

In [6]:
### UPDATE

cursor.execute('''
    UPDATE employees
    SET age=23
    WHERE id = 1
''')

connection.commit()

cursor.execute("SELECT * FROM employees;")

employees = cursor.fetchall()

employees

[(1, 'Brayan', 23, 'Web Developer'),
 (2, 'Bob', 32, 'Engineering'),
 (3, 'Krish', 22, 'Finance')]

In [7]:
### Delete the data from the table

cursor.execute('''
    DELETE FROM employees WHERE id=2
''')

connection.commit()

cursor.execute("SELECT * FROM employees;")

employees = cursor.fetchall()

employees

[(1, 'Brayan', 23, 'Web Developer'), (3, 'Krish', 22, 'Finance')]

In [8]:
### Working with Sales Data

connection = sq.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales(
                id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
            );
''')

connection.commit()

In [9]:
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product1',150,'East'),
    ('2023-01-04','Product3',250,'West'),
    ('2023-01-05','Product2',300,'North')
]

cursor.executemany('''
    Insert into sales(date,product,sales,region) values(?,?,?,?)
''',sales_data)

connection.commit()

In [10]:
cursor.execute("SELECT * FROM sales;")

employees = cursor.fetchall()

employees

[(1, '2023-01-01', 'Product1', 100, 'North'),
 (2, '2023-01-02', 'Product2', 200, 'South'),
 (3, '2023-01-03', 'Product1', 150, 'East'),
 (4, '2023-01-04', 'Product3', 250, 'West'),
 (5, '2023-01-05', 'Product2', 300, 'North')]

In [11]:
### Close connection

connection.close()

In [12]:
cursor.execute("SELECT * FROM sales;")

employees = cursor.fetchall()

employees

ProgrammingError: Cannot operate on a closed database.